LINKD_CONNECT=tcp://linkd.stg.k8s.multpex.com.br:9999
LINKD_DATABASE_NAME=docker-pg-test
NODE_ENV=development

# linkd staging (via Istio Gateway público)
AUTH_REALM=staging-multpex
AUTH_CLIENT_ID=web-client
