# Conexão com o linkd (TCP via Docker)
# A autenticação TCP local usa a sessão atual do `mtpx login`
LINKD_CONNECT=tcps://linkd.stg.k8s.multpex.com.br:9998

# Namespace dos serviços de mensageria
LINKD_NAMESPACE=mtpx-msg-channels

# DEBUG=true
NODE_ENV=development

# linkd staging (via Istio Gateway público)
AUTH_REALM=staging-multpex
AUTH_CLIENT_ID=web-client
