# Conexão com o linkd (TCP via Docker)
LINKD_CONNECT=tcp://linkd.stg.k8s.multpex.com.br:9999

LINKD_NAMESPACE=tenant-routing-demo
DEFAULT_AUTH_REALM=realm1
AUTH_CLIENT_ID=web-client
DEBUG=false

# linkd staging (via Istio Gateway público)
AUTH_REALM=staging-multpex
