# Conexão com o linkd local (TCP)
LINKD_CONNECT=tcps://linkd.stg.k8s.multpex.com.br:9998

# Channel a monitorar (subject NATS)
MONITOR_CHANNEL=demo.order.created

# Consumer group — identifica este monitor no NATS JetStream
MONITOR_GROUP=channel-monitor

# Namespace do serviço
LINKD_NAMESPACE=mtpx-channel-monitor

# DEBUG=true

# linkd staging (via Istio Gateway público)
AUTH_REALM=staging-multpex
AUTH_CLIENT_ID=web-client
